[user]
    name = Jane Doe
    email = jane.doe@example.com
[merge]
    conflictStyle = "zdiff3"
    tool = kdiff3
[mergetool "kdiff3"]
    cmd = /mnt/c/Users/JDoe/scoop/apps/kdiff3/current/bin/kdiff3.exe \"`wslpath -w $BASE`\" \"`wslpath -w \"$LOCAL`\" \"`wslpath -w\"$REMOTE`\" -o \"`wslpath -w\"$MERGED`\"
    trustExitCode = false
[diff]
    guitool = kdiff3
[difftool "kdiff3"]
    path = /mnt/c/Users/JDoe/scoop/apps/kdiff3/current/bin/kdiff3.exe \"`wslpath -w $LOCAL`\" \"`wslpath -w $REMOTE`\"
    trustExitCode = false